.content-slide {
  height: 500px;
  width: 1170px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 25px;
  padding: 30px 20px;

  .box-item {
    width: 247px !important;
    height: 386px;
    position: relative;
    
    >img {
      width: 100%;
      height: 130px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #eee;
      border-radius: 5px;
    }

    .show-label {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 2px 5px;
      background-color: #fff04b;
      border-radius: 5px;
      font-weight: bold;
    }

    .show-title {
      height: 42px;
      color: #333;
      font-weight: bold;
      text-align: left;
      margin-top: 5px;
    }

    .sumary-info {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 0px 10px;
      font-family: "Roboto";
    }

    .link-to-detail {
      color: #45c3d2;
      position: absolute;
      left: 0px;
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}