.print-label {
  font-size: 14px;
  color: #000;
  background: #fff;
}
.print-label p {
  margin: 0 !important;
}
.print-label .vtp-label table.vtp tr,
.print-label .vtp-label table.vtp td {
  border: unset;
}
.print-label .vtp-label .pleft {
  float: left;
}
.print-label .vtp-label .pright {
  float: right;
}
.print-label .vtp-label .page {
  width: 21cm;
  margin: 0 auto;
}
.print-label .vtp-label .Print_title {
  border-bottom: 2px solid #000;
  margin-top: 4px;
  width: 378px;
  margin-bottom: 3px;
}
.print-label .vtp-label .Print_title span {
  float: right;
}
.print-label .vtp-label .barcodetitle {
  margin-left: 283px;
}
.print-label .vtp-label .pcclear {
  clear: both;
  border: 0;
  margin: 0;
  padding: 0;
}
.print-label .vtp-label .print_td {
  height: 120px;
  max-height: 200px;
  width: 50%;
  padding: 10px;
  line-height: 20px;
  font-size: 11px;
  border: solid 1px #000;
}
.print-label .vtp-label .print_td3 {
  width: 50%;
  line-height: 14px;
  font-size: 11px;
  height: 110px;
  text-align: center;
}
.print-label .vtp-label .print_codetype {
  width: 25%;
  line-height: 20px;
  font-size: 11px;
  border-right: solid 2px;
}
.print-label .vtp-label .print_dichvu {
  width: 75%;
  line-height: 17px;
  font-size: 11px;
}
.print-label .vtp-label .bodyone {
  margin-left: 2px;
  margin-top: 2px;
}
.print-label .vtp-label .vtp_magin {
  margin-bottom: 10px;
}
.print-label .exchange-order-label {
  border: solid 1px #000;
  width: 100%;
}
.print-label .exchange-order-label .title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.print-label .exchange-order-label .table-exchange-order {
  width: 100% !important;
}
.print-label .exchange-order-label .table-exchange-order .customer {
  width: 70%;
  text-align: left;
}
.print-label .exchange-order-label .table-exchange-order .address {
  width: 70%;
  text-align: left;
}
.print-label .exchange-order-label .table-exchange-order .order-info {
  width: 100%;
  border-top: 1px solid;
  text-align: center;
}
.print-label .exchange-order-label .order-price {
  margin-top: 10px;
  width: 100%;
}
.print-label .exchange-order-label .order-price .td-left {
  width: 70%;
  text-align: left;
}
.print-label .exchange-order-label .order-price .td-right {
  width: 30%;
  text-align: right;
}
.print-label .ghtk-label table.ghtk tr,
.print-label .ghtk-label table.ghtk td,
.print-label .ghtk-label table.ghtk th {
  border: unset;
  background: unset;
}
.print-label .ghn-label * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.print-label .ghn-label body {
  font-family: 'Arial';
}
@media print {
  @page {
    size: a5 landscape;
    margin: 0;
    min-height: auto;
  }
  .print-label .ghn-label html,
  .print-label .ghn-label body {
    border: 0px solid white;
  }
  .print-label .ghn-label .content {
    width: 794px;
    height: 540px;
    content: '.';
  }
  .print-label .ghn-label .info-hub {
    border-bottom: solid 1px #ddd;
  }
}
.print-label .ghn-label .content {
  width: 794px;
  height: 546px;
  content: '.';
  margin: 10px 0;
}
.print-label .ghn-label .content:last-child {
  height: 530px;
}
.print-label .ghn-label .content.page-break {
  display: block;
  page-break-after: always;
}
.print-label .ghn-label .content.page-break:last-child {
  display: block;
  page-break-after: avoid;
}
.print-label .ghn-label .center {
  text-align: center !important;
}
.print-label .ghn-label .bold {
  font-weight: bold !important;
}
.print-label .ghn-label .hul {
  display: inline-block;
  padding: 0;
  margin: 0 0 -15px 0;
  list-style: none;
  width: 100%;
}
.print-label .ghn-label .hul li {
  margin: 5px 0;
}
.print-label .ghn-label .row {
  margin-left: -10px;
  margin-right: -10px;
  display: inline-block;
  width: calc(100% + 20px);
}
.print-label .ghn-label .col-6,
.print-label .ghn-label .col-8,
.print-label .ghn-label .col-9,
.print-label .ghn-label .col-1,
.print-label .ghn-label .col-2,
.print-label .ghn-label .col-3,
.print-label .ghn-label .col-4,
.print-label .ghn-label .col-5,
.print-label .ghn-label .col-7 {
  float: left;
}
.print-label .ghn-label .col-5 {
  width: 41.66%;
}
.print-label .ghn-label .col-6 {
  width: 50%;
}
.print-label .ghn-label .col-9 {
  width: 75%;
}
.print-label .ghn-label .col-8 {
  width: 66%;
}
.print-label .ghn-label .col-1 {
  width: 8.33%;
}
.print-label .ghn-label .col-2 {
  width: 16.66%;
}
.print-label .ghn-label .col-3 {
  width: 25%;
}
.print-label .ghn-label .col-4 {
  width: 33.33%;
}
.print-label .ghn-label .col-7 {
  width: 58.33%;
}
.print-label .ghn-label .info-user,
.print-label .ghn-label .info-packet,
.print-label .ghn-label .info-hub,
.print-label .ghn-label .info-header,
.print-label .ghn-label .info-return {
  display: table;
  border-left: solid 1px #ddd;
  border-top: solid 1px #ddd;
  border-right: solid 1px #ddd;
  width: 100%;
}
.print-label .ghn-label .info-hnote {
  display: inline-block;
  border: solid 1px #ddd;
  width: 100%;
}
.print-label .ghn-label p {
  margin: 0;
}
.print-label .ghn-label span {
  font-size: 15px;
}
.print-label .ghn-label img {
  max-width: 100%;
}
.print-label .ghn-label .row {
  display: block;
}
.print-label .ghn-label .info-header {
  padding: 15px 20px;
  height: 50px;
}
.print-label .ghn-label .info-header .hgc {
  text-align: right;
  margin-top: 3px;
}
.print-label .ghn-label .info-header .hgc label {
  border: solid 1px #ddd;
  border-radius: 2px;
  padding: 3px 8px;
}
.print-label .ghn-label .info-header span {
  font-weight: bold;
}
.print-label .ghn-label .info-user img {
  width: 74px;
  max-width: none;
}
.print-label .ghn-label .info-user p {
  line-height: 16px;
}
.print-label .ghn-label .info-user .col-6,
.print-label .ghn-label .info-user .col-5 {
  min-height: 150px;
  padding: 5px 10px;
}
.print-label .ghn-label .info-packet .col-4,
.print-label .ghn-label .info-packet .col-3,
.print-label .ghn-label .info-packet .col-5 {
  min-height: 180px;
}
.print-label .ghn-label .row .col-5,
.print-label .ghn-label .row .col-4,
.print-label .ghn-label .row .col-3 {
  border-right: 1px solid #ddd;
}
.print-label .ghn-label .row .col-5:last-child,
.print-label .ghn-label .row .col-4:last-child,
.print-label .ghn-label .row .col-3:last-child {
  border-right: 0px;
}
.print-label .ghn-label .info-user {
  padding: 0px 20px;
  line-height: 16px;
  height: 108px;
  position: relative;
}
.print-label .ghn-label .info-user .col-6:first-child {
  border-right: solid 1px #ddd;
}
.print-label .ghn-label .info-user .col-6 label {
  color: #636363;
}
.print-label .ghn-label .info-user .col-1 {
  padding: 0px;
}
.print-label .ghn-label .info-user .col-1 h3 {
  margin: 10px 0 0 10px;
}
.print-label .ghn-label .info-user ul li {
  position: relative;
  padding-left: 85px;
  min-height: 16px;
}
.print-label .ghn-label .info-user ul li span:first-child {
  position: absolute;
  left: 0;
}
.print-label .ghn-label .info-packet,
.print-label .ghn-label .info-hub {
  font-size: 13.4px;
  padding: 0px 10px;
}
.print-label .ghn-label .toAddress {
  text-align: left;
  margin: 20px 10px;
}
.print-label .ghn-label .toAddress b {
  display: block;
  margin: 0 0 0.2em;
}
.print-label .ghn-label .info-packet .hbarcode p {
  word-wrap: break-word;
  font-weight: bold;
  font-size: 13px !important;
}
.print-label .ghn-label .info-packet .col-4 {
  text-align: center;
  min-height: 180px;
}
.print-label .ghn-label .hnote {
  font-size: 13px;
  color: #636363;
  font-style: italic;
  text-align: center;
  margin: 10px;
}
.print-label .ghn-label .info-packet .hul {
  line-height: 22.8px;
}
.print-label .ghn-label .info-hub {
  border-bottom: solid 1px #ddd;
}
.print-label .ghn-label .info-hub .hul h2 {
  font-size: 24px;
  margin: 5px 0;
}
.print-label .ghn-label .info-hub .col-5,
.print-label .ghn-label .info-hub .col-4,
.print-label .ghn-label .info-hub .col-3 {
  min-height: 200px;
  padding: 5px;
}
.print-label .ghn-label .info-hub .col-8 {
  padding-top: 10px;
  border-right: solid 1px #ddd;
  height: 154px;
}
.print-label .ghn-label .info-hub label {
  color: #636363;
  margin-bottom: 3px;
  display: inline-block;
}
.print-label .ghn-label .info-hub .col-8 p {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}
.print-label .ghn-label .info-hub .col-4 p {
  font-size: 30px;
  font-weight: bold;
}
.print-label .ghn-label .info-packet .col-3 p {
  font-size: 35px;
  font-weight: bold;
}
.print-label .ghn-label .info-hub .col-4 div {
  padding: 10px;
}
.print-label .ghn-label .info-user .col-1 div:first-child {
  border-bottom: solid 1px #f0f0f0;
  height: 77px;
}
.print-label .ghn-label .info-user .col-2 div:first-child,
.print-label .ghn-label .info-packet .col-4 h2 {
  margin: 0px;
}
.print-label .ghn-label .info-packet .col-3.info-packet-service {
  text-align: center;
}
.print-label
  .ghn-label
  .info-packet
  .col-3.info-packet-service
  div:first-child {
  border-bottom: solid 1px #f0f0f0;
  min-height: 80px;
  margin: 10px 0;
}
.print-label .ghn-label .info-hnote {
  padding: 13px 20px;
  height: 58px;
}
.print-label .ghn-label .info-return {
  padding: 13px 20px;
  border: 0;
  font-size: 8px;
}
.print-label .ghn-label .info-return li {
  position: relative;
  padding-left: 12px;
  height: 15px;
  overflow: hidden;
}
.print-label .ghn-label .info-return li:before {
  content: '';
  height: 5px;
  width: 5px;
  display: inline-block;
  border: solid 1px #000;
  position: absolute;
  left: 0;
}
.print-label .ghn-label .info-return li:after {
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: dotted 1px #000;
  display: inline-block;
  position: absolute;
  left: 12px;
  bottom: 7px;
}
.print-label .ghn-label .info-return .hdate {
  text-align: right;
}
.print-label .ghn-label .info-return .hdate ul {
  width: auto;
}
.print-label .ghn-label .info-return .hdate li {
  padding-left: 0;
  float: left;
  width: 35px;
  margin-right: 2px;
  text-align: left;
}
.print-label .ghn-label .info-return .hdate li:before {
  content: none;
}
.print-label .ghn-label .info-return li span {
  background: #fff;
  display: inline-block;
  height: 8px;
  position: relative;
  z-index: 1;
  padding-right: 2px;
}
.print-label .ghn-label .info-return .htitle {
  font-weight: bold;
  min-height: 6px;
  display: block;
  margin-top: 2px;
  margin-bottom: 4px;
}
.print-label .ghn-label .info-return .htitle-b {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8px;
}
.print-label .ghn-label .hnotef {
  position: relative;
  height: 26px;
}
.print-label .ghn-label .hnotef:before,
.print-label .ghn-label .hnotef:after {
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: dotted 1px #000;
  position: absolute;
}
.print-label .ghn-label .hnotef:before {
  bottom: 12px;
}
.print-label .ghn-label .hnotef:after {
  bottom: 0;
}
.print-label .ghn-label .fend {
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: center;
}
.print-label .ghn-label .info-hub {
  position: relative;
}
.print-label .ghn-label .info-hub .col-4 div:first-child {
  height: 77px;
}
.print-label .ghn-label .hbarcode label {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 10.7px;
}
.print-label .ghn-label .hbarcode {
  padding-top: 35px;
}
.print-label .ghn-label .ads p {
  font-size: 11px !important;
  font-weight: normal !important;
}
.print-label .ghn-label .ads h2 {
  line-height: 25px;
  margin: 5px 0 10px 0;
}
.print-label .ghn-label .ads h3 {
  line-height: 25px;
  margin: -10px 0 0 0;
}
.print-label .ghn-label #signature {
  margin-right: -5px;
  padding-top: 5px;
  float: right;
  height: 74px;
  width: 140px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
  color: gray;
}
.print-label .ghn-label .info-user-return,
.print-label .ghn-label .info-packet-return,
.print-label .ghn-label .info-return-return {
  display: table;
  border-left: solid 1px #ddd;
  border-top: solid 1px #ddd;
  border-right: solid 1px #ddd;
  width: 100%;
}
.print-label .ghn-label .info-user-return img {
  width: 74px;
  max-width: none;
}
.print-label .ghn-label .info-user-return {
  padding: 0px 20px;
  line-height: 16px;
  height: 108px;
  position: relative;
}
.print-label .ghn-label .info-user-return .col-6:first-child {
  border-right: solid 1px #ddd;
}
.print-label .ghn-label .info-user-return p {
  line-height: 16px;
}
.print-label .ghn-label .info-user-return .col-6,
.print-label .ghn-label .info-user-return .col-5 {
  min-height: 150px;
  padding: 5px 10px;
}
.print-label .ghn-label .info-packet-return .col-4,
.print-label .ghn-label .info-packet-return .col-3,
.print-label .ghn-label .info-packet-return .col-5 {
  min-height: 180px;
}
.print-label .ghn-label .info-packet-return,
.print-label .ghn-label .info-return-return {
  font-size: 13.4px;
  padding: 0px 10px;
}
.print-label .ghn-label .info-packet-return .hbarcode p {
  word-wrap: break-word;
  font-weight: bold;
  font-size: 13px !important;
}
.print-label .ghn-label .info-packet-return .col-4 {
  text-align: center;
  min-height: 180px;
}
.print-label .ghn-label .info-packet-return .col-3 p {
  font-size: 35px;
  font-weight: bold;
}
.print-label .ghn-label .info-return-return {
  position: relative;
  border-bottom: solid 1px #ddd;
}
.print-label .ghn-label .info-return-return .col-5 {
  min-height: 200px;
  padding: 5px;
}
.print-label .ghn-label .info-return-return .reason-return {
  padding: 10px;
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}
.print-label .ghn-label .info-return-return .note {
  height: 100px;
}
.print-label .ghn-label .info-return-return .note .col-8 {
  height: 100px;
  border-right: solid 1px #ddd;
}
.print-label .ghn-label .info-user-return .col-1 div:first-child {
  border-bottom: solid 1px #f0f0f0;
  height: 77px;
}
.print-label .ghn-label .info-user-return .col-2 div:first-child,
.print-label .ghn-label .info-packet-return .col-4 h2 {
  margin: 0px;
}
.print-label .ghn-label .info-packet-return .col-3.info-packet-return-service {
  text-align: center;
}
.print-label
  .ghn-label
  .info-packet-return
  .col-3.info-packet-return-service
  div:first-child {
  border-bottom: solid 1px #f0f0f0;
  min-height: 80px;
  margin: 10px 0;
}
.print-label .ghn-label .w3-light-grey,
.print-label .ghn-label .w3-hover-light-grey:hover,
.print-label .ghn-label .w3-light-gray,
.print-label .ghn-label .w3-hover-light-gray:hover {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}
.print-label .ghn-label .w3-round,
.print-label .ghn-label .w3-round-medium {
  border-radius: 2px;
}
.print-label .ghn-label .w3-container,
.print-label .ghn-label .w3-panel {
  padding: 0.01em 16px;
}
.print-label .ghn-label .w3-green,
.print-label .ghn-label .w3-hover-green:hover {
  color: #fff !important;
  background-color: #4caf50 !important;
}
.print-label .ghn-label .w3-round-large {
  border-radius: 8px;
}
.print-label .ghn-label #process-bar {
  margin: auto;
  position: fixed;
  z-index: 1000;
  width: 98%;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.print-label .tox .tox-statusbar .tox-statusbar__text-container button {
  display: none;
}
.print-label
  .tox
  .tox-statusbar
  .tox-statusbar__text-container
  .tox-statusbar__branding {
  display: none;
}
.print-label img {
  max-width: 300px;
  height: auto;
}
.print-label .table > tbody > tr > td {
  padding: 4px;
  page-break-inside: avoid;
}
.print-label table.fr-hide-border td,
.print-label table.fr-hide-border th {
  border: none !important;
}
.print-label table.fr-bold-border td,
.print-label table.fr-bold-border th {
  border: 1px solid black !important;
}
